In [37]:
import pymysql
import mysql.connector as sql
mydb= sql.connect(
    host='localhost',
    user= 'root',
    passwd='Colonies6)',
    database='mydatabase',
    use_pure= True
    
)
print (mydb)

<mysql.connector.connection.MySQLConnection object at 0x0000020116B1E520>

In [2]:
#mycursor.execute('SET [GLOBAL | SESSION] TRANSACTION { ISOLATION LEVEL level | access_mode}')

In [38]:
mycursor= mydb.cursor()

In [12]:
#mycursor.execute('CREATE DATABASE SGAE_Practica')

In [39]:
mycursor.execute('START TRANSACTION') ;
mycursor.execute('transaction-isolation' == 'READ COMMITTED')

In [40]:
mycursor.execute('SHOW DATABASES')

In [41]:
for bd in mycursor:
    print(bd)

('information_schema',)
('movies',)
('mydatabase',)
('mysql',)
('new_schema',)
('performance_schema',)
('sakila',)
('sgae_practica',)
('sys',)
('world',)

In [42]:
mycursor.execute('USE SGAE_Practica');

In [43]:
print(mycursor)

MySQLCursor: USE SGAE_Practica

In [9]:
#SET TRANSACTION

In [ ]:
mycursor.execute('CREATE SCHEMA movies')

In [14]:
mycursor.execute("CREATE TABLE movies.tb_genre(genre_id INTEGER NOT NULL, genre_name VARCHAR(40) NOT NULL, created_by_user VARCHAR(10) NOT NULL DEFAULT 'OS_SGAD', created_date DATE, updated_date DATE, CONSTRAINT pk_genre PRIMARY KEY (genre_id))")

In [ ]:
mycursor.execute("CREATE TABLE movies.tb_movie(movie_id INTEGER NOT NULL, movie_title VARCHAR(100) NOT NULL, movie_date DATE, movie_format VARCHAR(50), movie_genre_id INTEGER, created_by_user VARCHAR(10) NOT NULL DEFAULT 'OS_SGAD', created_date DATE, updated_date DATE, CONSTRAINT pk_movie PRIMARY KEY (movie_id), CONSTRAINT fk_movie_genre FOREIGN KEY (movie_genre_id) REFERENCES tb_genre(genre_id))")

In [19]:
mycursor.execute("CREATE TABLE movies.tb_role(role_id INTEGER NOT NULL, role_name VARCHAR(60) NOT NULL, created_by_user VARCHAR(10) NOT NULL DEFAULT 'OS_SGAD', created_date DATE, updated_date DATE, CONSTRAINT pk_role PRIMARY KEY (role_id))")

In [20]:
mycursor.execute("CREATE TABLE movies.tb_person ( person_id INTEGER NOT NULL, person_name VARCHAR(100) NOT NULL, person_country VARCHAR(40), person_dob DATE NOT NULL, person_dod DATE, person_parent_id INTEGER, created_by_user VARCHAR(10) NOT NULL DEFAULT 'OS_SGAD', created_date DATE, updated_date DATE, CONSTRAINT pk_person PRIMARY KEY (person_id), CONSTRAINT fk_person_parent FOREIGN KEY (person_parent_id) REFERENCES tb_person(person_id))")

In [14]:
mycursor.execute("CREATE TABLE movies.tb_movie_person(movie_id INTEGER NOT NULL, person_id INTEGER NOT NULL, role_id INTEGER NOT NULL, movie_award_ind CHAR(1) NOT NULL, created_by_user VARCHAR(10) NOT NULL DEFAULT 'OS_SGAD', created_date DATE, updated_date DATE, CONSTRAINT pk_movper PRIMARY KEY (movie_id, person_id, role_id), CONSTRAINT fk_movper_movie FOREIGN KEY (movie_id) REFERENCES tb_movie(movie_id), CONSTRAINT fk_movper_person FOREIGN KEY (person_id) REFERENCES tb_person (person_id), CONSTRAINT fk_movper_role FOREIGN KEY (role_id) REFERENCES tb_role(role_id))")

In [16]:
mycursor.execute("COMMIT")

In [15]:
mycursor.execute("INSERT INTO movies.tb_genre(genre_id,genre_name) VALUES(1, 'Acción')")

In [17]:
mycursor.execute("INSERT INTO movies.tb_genre(genre_id, genre_name)VALUES ( 2, 'Ciencia Ficción'),(3, 'Comedia')")

In [18]:
mycursor.execute("INSERT INTO movies.tb_genre(genre_id, genre_name)VALUES (4, 'Drama')")

In [19]:
mycursor.execute("INSERT INTO movies.tb_genre (genre_id, genre_name, created_by_user) VALUES ( 5, 'Fantasía', 'apermag')")

In [20]:
mycursor.execute("INSERT INTO movies.tb_genre (genre_id, genre_name, created_by_user, created_date, updated_date) VALUES ( 6, 'Melodrama', 'apermag', '2018-09-01', '2018-09-27')")

In [21]:
mycursor.execute("INSERT INTO movies.tb_genre (genre_id, genre_name) VALUES ( 7, 'Musical'), (8, 'Romance'), (9, 'Suspense'), (10, 'Terror'), (11, 'Bélico')")

In [22]:
mycursor.execute("INSERT INTO movies.tb_movie (movie_id, movie_title, movie_date, movie_format, movie_genre_id) VALUES ( 1, 'Apocalypse Now', '1979-05-10', 'Film', 11),( 2, 'Star Wars:Episode IV - A New Hope', '1977-05-25', 'Film', 2),( 3, 'Indiana Jones and the Temple of Doom', '1984-05-08', 'Film', 1),( 4, 'The Terminal', '2004-06-18', 'Digital', 3), ( 5, 'Jaws', '1975-01-01', 'Film', 10),( 6, 'ET The Extraterrestrial', '1982-07-25', 'Film', 5),( 7, 'Psycho', '1960-05-06', 'Film', 9),( 8, 'Ocho Apellidos Vascos', '2014-03-14', 'Digital', 3),( 9, 'Ocho Apellidos Catalanes', '2016-06-09', 'Digital', 8),(10, 'El otro lado de la cama', '2002-09-04', 'Digital', 8), (11, 'La Gran Familia Española', '2012-10-15', 'Digital', 3), (12, 'El dia de la bestia', '1994-12-25', 'Film', 1),(13, 'Braveheart', '1995-08-08', 'Film', 4),(14, 'The Shawshank Redemption', '1992-01-07', 'Film', 4), (15, 'Las brujas de Zugarramurdi', '2009-10-07', 'Digital', 9),(16, 'Blade Runner', '1982-12-25', 'Digital', 2)")

In [23]:
mycursor.execute("INSERT INTO movies.tb_role (role_id, role_name) VALUES ( 1, 'Actor'),( 2, 'Director'), ( 3, 'Productor'), ( 4, 'Guionista'), ( 5, 'Música')")

In [24]:
mycursor.execute("INSERT INTO movies.tb_person (person_id, person_name, person_country, person_dob, person_dod, person_parent_id) VALUES ( 1, 'Francis Ford Coppola', 'United States', '1939-04-07', NULL, NULL), ( 2, 'Carmine Coppola', 'United States', '1945-07-08', NULL, NULL),( 3, 'Marlon Brando', 'United States', '1924-04-03', '2004-07-01', NULL), ( 4, 'Robert Duvall', 'United States', '1931-01-05', NULL, NULL),( 5, 'Martin Sheen', 'United States', '1940-08-03', NULL, NULL),( 6, 'Harrison Ford', 'United States', '1942-07-13', NULL, NULL), ( 7, 'George Lucas', 'United States', '1944-05-14', NULL, NULL), ( 8, 'Gary Kurtz', 'United States', '1940-07-27', NULL, NULL), ( 9, 'Steven Spielberg', 'United States', '1946-12-18', NULL, NULL), (10, 'John Williams', 'United States', '1928-08-08', NULL, NULL),(11, 'Tom Hanks', 'United States', '1956-07-09', NULL, NULL), (12, 'Catherine Zeta-Jones', 'Wales', '1969-09-25', NULL, NULL),(13, 'Alfred Joseph Hitchcock', 'United Kingdom', '1899-08-13', '1980-04-29', NULL), (14, 'Anthony Perkins', 'United States', '1934-04-04', '1992-09-08', NULL), (15, 'Vera Miles', 'United States', '1929-08-23', NULL, NULL), (16, 'Emilio Martinez Lazaro', 'Spain', '1956-09-09', NULL, NULL), (17, 'Dani Rovira', 'Spain', '1984-07-01', NULL, NULL),(18, 'Clara Lago', 'Spain', '1986-04-17', NULL, NULL),(19, 'Carmen Machi', 'Spain', '1964-08-09', NULL, NULL), (20, 'Karra Elejalde', 'Spain', '1960-03-06', NULL, NULL),(21, 'Daniel Sanchez Arevalo', 'Spain', '1970-06-08', NULL, NULL),(22, 'Quim Gutierrez', 'Spain', '1981-03-27', NULL, NULL), (23, 'Robert Alamo', 'Spain', '1970-05-06', NULL, NULL), (24, 'Hector Colome', 'Spain', '1944-10-25', '2015-02-28', NULL),(25, 'Veronica Echegui', 'Spain', '1983-03-14', NULL, NULL),(26, 'Patrick Criado', 'Spain', '1995-09-23', NULL, NULL), (27, 'Sean Connery', 'Scotland', '1930-07-08', NULL, NULL), (28, 'Mel Gibson', 'Australia', '1950-08-09', NULL, NULL), (29, 'Morgan Freeman', 'United States', '1935-10-01', NULL, NULL), (30, 'Tim Robbins', 'United States', '1949-06-07', NULL, NULL),(41, 'Charlie Sheen', 'United States', '1965-09-03', NULL, 5), (42, 'Emilio Estevez', 'United States', '1962-05-12', NULL, 5), (43, 'Ramón Estevez', 'United States', '1963-08-07', NULL, 5), (44, 'Reneé Estevez', 'United States', '1967-04-02', NULL, 5),(45, 'Paula Speert Sheen', 'United States', '1986-01-06', NULL,41),(46, 'Bob Sheen', 'United States', '2009-05-01', NULL,41), (47, 'Max Sheen', 'United States', '2009-05-01', NULL,41),(48, 'Sam Sheen', 'United States', '2004-03-09', NULL,41),(49, 'Lola Sheen', 'United States', '2005-06-01', NULL,41), (50, 'Paula Jones-Sheen', 'United States', '2003-07-06', NULL,45), (51, 'Paloma Rae Estevez', 'United States', '1986-02-15', NULL,42), (52, 'Taylor Levi Estevez', 'United States', '1984-06-22', NULL,42)")

In [25]:
mycursor.execute("INSERT INTO movies.tb_movie_person (movie_id, person_id, role_id, movie_award_ind) VALUES ( 1, 1, 2, 'Y'),( 1, 1, 3, 'N'), ( 1, 1, 5, 'N'), ( 1, 2, 5, 'N'),( 1, 3, 1, 'N'),( 1, 4, 1, 'N'), ( 1, 5, 1, 'Y'),( 1,41, 1, 'N'), ( 1, 6, 1, 'N'),( 2, 6, 1, 'N'),( 2, 7, 2, 'Y'),( 2, 8, 3, 'N'),( 3, 6, 1, 'N'),( 3, 7, 4, 'N'),( 3, 9, 2, 'N'), ( 3,10, 5, 'N'), ( 4, 9, 2, 'N'),( 4, 9, 3, 'N'),( 4,11, 1, 'N'),( 4,12, 1, 'N'),( 5, 9, 2, 'N'),( 6, 9, 2, 'N'),( 7,13, 1, 'N'),( 7,13, 2, 'N'),( 7,13, 3, 'N'), ( 7,14, 2, 'N'),( 7,15, 2, 'N'),( 3, 7, 1, 'N'), ( 8,16, 2, 'N'),( 9,16, 2, 'N'), ( 8,17, 1, 'N'), ( 8,18, 1, 'N'),( 8,19, 1, 'N'),( 8,20, 1, 'N'), ( 9,17, 1, 'N'),( 9,18, 1, 'N'),( 9,19, 1, 'N'),( 9,20, 1, 'N'), (10,16, 2, 'N'), (11,21, 2, 'N'), (11,21, 4, 'N'),(11,22, 1, 'N'), (11,23, 1, 'N'),(11,24, 1, 'N'),(11,25, 1, 'N'),(11,26, 1, 'N'), (13,28, 1, 'Y'),(13,28, 2, 'N'), (14,29, 1, 'N'),(14,30, 1, 'N')")

In [80]:
mycursor.execute("COMMIT")

In [27]:
# S'ha creat primer l'estructura de la base de dades,i després lo propi amb les taules, configurant el tipus de dada que resideix en cada columna i les seves limitacions, característiques i connexions. Com els conceptes pels quals es connecten les diferents taules relacionals. A continuació, s'han afegit dades amb la funció "INSERT INTO" explicant en quina es volia afegir cada dada i que tingués sentit el que s'afegeia amb el tipus de dada. Exemple si era un tipus DATE, que fos una data YMD, que és la configuració per defecte.

In [18]:
mycursor.execute("SELECT person_name,person_country,person_dod FROM movies.tb_person WHERE DATE(person_dod = NULL)")

In [19]:
mycursor.fetchall()

[]

In [20]:
mycursor.execute("SELECT person_name, person_country, person_dob,  IFNULL(person_dod,0) FROM movies.tb_person ORDER BY person_dob ")

In [21]:
mycursor.fetchall()

[('Alfred Joseph Hitchcock',
  'United Kingdom',
  datetime.date(1899, 8, 13),
  '1980-04-29'),
 ('Marlon Brando', 'United States', datetime.date(1924, 4, 3), '2004-07-01'),
 ('John Williams', 'United States', datetime.date(1928, 8, 8), '0'),
 ('Vera Miles', 'United States', datetime.date(1929, 8, 23), '0'),
 ('Sean Connery', 'Scotland', datetime.date(1930, 7, 8), '0'),
 ('Robert Duvall', 'United States', datetime.date(1931, 1, 5), '0'),
 ('Anthony Perkins', 'United States', datetime.date(1934, 4, 4), '1992-09-08'),
 ('Morgan Freeman', 'United States', datetime.date(1935, 10, 1), '0'),
 ('Francis Ford Coppola', 'United States', datetime.date(1939, 4, 7), '0'),
 ('Gary Kurtz', 'United States', datetime.date(1940, 7, 27), '0'),
 ('Martin Sheen', 'United States', datetime.date(1940, 8, 3), '0'),
 ('Harrison Ford', 'United States', datetime.date(1942, 7, 13), '0'),
 ('George Lucas', 'United States', datetime.date(1944, 5, 14), '0'),
 ('Hector Colome', 'Spain', datetime.date(1944, 10, 25), '2015-02-28'),
 ('Carmine Coppola', 'United States', datetime.date(1945, 7, 8), '0'),
 ('Steven Spielberg', 'United States', datetime.date(1946, 12, 18), '0'),
 ('Tim Robbins', 'United States', datetime.date(1949, 6, 7), '0'),
 ('Mel Gibson', 'Australia', datetime.date(1950, 8, 9), '0'),
 ('Tom Hanks', 'United States', datetime.date(1956, 7, 9), '0'),
 ('Emilio Martinez Lazaro', 'Spain', datetime.date(1956, 9, 9), '0'),
 ('Karra Elejalde', 'Spain', datetime.date(1960, 3, 6), '0'),
 ('Emilio Estevez', 'United States', datetime.date(1962, 5, 12), '0'),
 ('Ramón Estevez', 'United States', datetime.date(1963, 8, 7), '0'),
 ('Carmen Machi', 'Spain', datetime.date(1964, 8, 9), '0'),
 ('Charlie Sheen', 'United States', datetime.date(1965, 9, 3), '0'),
 ('Reneé Estevez', 'United States', datetime.date(1967, 4, 2), '0'),
 ('Catherine Zeta-Jones', 'Wales', datetime.date(1969, 9, 25), '0'),
 ('Robert Alamo', 'Spain', datetime.date(1970, 5, 6), '0'),
 ('Daniel Sanchez Arevalo', 'Spain', datetime.date(1970, 6, 8), '0'),
 ('Quim Gutierrez', 'Spain', datetime.date(1981, 3, 27), '0'),
 ('Veronica Echegui', 'Spain', datetime.date(1983, 3, 14), '0'),
 ('Taylor Levi Estevez', 'United States', datetime.date(1984, 6, 22), '0'),
 ('Dani Rovira', 'Spain', datetime.date(1984, 7, 1), '0'),
 ('Paula Speert Sheen', 'United States', datetime.date(1986, 1, 6), '0'),
 ('Paloma Rae Estevez', 'United States', datetime.date(1986, 2, 15), '0'),
 ('Clara Lago', 'Spain', datetime.date(1986, 4, 17), '0'),
 ('Patrick Criado', 'Spain', datetime.date(1995, 9, 23), '0'),
 ('Paula Jones-Sheen', 'United States', datetime.date(2003, 7, 6), '0'),
 ('Sam Sheen', 'United States', datetime.date(2004, 3, 9), '0'),
 ('Lola Sheen', 'United States', datetime.date(2005, 6, 1), '0'),
 ('Bob Sheen', 'United States', datetime.date(2009, 5, 1), '0'),
 ('Max Sheen', 'United States', datetime.date(2009, 5, 1), '0')]

In [22]:
mycursor.execute("SELECT genre_name FROM movies.tb_genre")

In [23]:
mycursor.fetchall()

[('Acción',),
 ('Ciencia Ficción',),
 ('Comedia',),
 ('Drama',),
 ('Fantasía',),
 ('Melodrama',),
 ('Musical',),
 ('Romance',),
 ('Suspense',),
 ('Terror',),
 ('Bélico',),
 ('Documental',)]

In [24]:
mycursor.execute("SELECT COUNT(genre_name) FROM movies.tb_genre")

In [ ]:
mycursor.execute("SELECT * FROM ")#nom persona i nombre màxim de rols x peli dins la amteixa.

In [29]:
mycursor.fetchall()

[]

In [62]:
mycursor.execute("SELECT person_name, count(*)  role_id FROM movies.tb_person,movies.tb_movie_person GROUP BY person_name")

In [63]:
mycursor.fetchall()

[('Taylor Levi Estevez', 50),
 ('Paloma Rae Estevez', 50),
 ('Paula Jones-Sheen', 50),
 ('Lola Sheen', 50),
 ('Sam Sheen', 50),
 ('Max Sheen', 50),
 ('Bob Sheen', 50),
 ('Paula Speert Sheen', 50),
 ('Reneé Estevez', 50),
 ('Ramón Estevez', 50),
 ('Emilio Estevez', 50),
 ('Charlie Sheen', 50),
 ('Tim Robbins', 50),
 ('Morgan Freeman', 50),
 ('Mel Gibson', 50),
 ('Sean Connery', 50),
 ('Patrick Criado', 50),
 ('Veronica Echegui', 50),
 ('Hector Colome', 50),
 ('Robert Alamo', 50),
 ('Quim Gutierrez', 50),
 ('Daniel Sanchez Arevalo', 50),
 ('Karra Elejalde', 50),
 ('Carmen Machi', 50),
 ('Clara Lago', 50),
 ('Dani Rovira', 50),
 ('Emilio Martinez Lazaro', 50),
 ('Vera Miles', 50),
 ('Anthony Perkins', 50),
 ('Alfred Joseph Hitchcock', 50),
 ('Catherine Zeta-Jones', 50),
 ('Tom Hanks', 50),
 ('John Williams', 50),
 ('Steven Spielberg', 50),
 ('Gary Kurtz', 50),
 ('George Lucas', 50),
 ('Harrison Ford', 50),
 ('Martin Sheen', 50),
 ('Robert Duvall', 50),
 ('Marlon Brando', 50),
 ('Carmine Coppola', 50),
 ('Francis Ford Coppola', 50)]

In [ ]:
mycursor.execute("INSERT INTO movies.tb_genre(genre_id, genre_name)VALUES (69, 'Documental')")

In [ ]:
mycursor.execute("DELETE FROM movies.tb_movie WHERE movie_id= '11'")

In [30]:
mycursor.execute("UPDATE movies.tb_movie SET movie_genre_id = 8 WHERE movie_title='Ocho apellidos Catalanes'")

In [33]:
mycursor.execute("SELECT * FROM movies.tb_movie")

In [34]:
mycursor.fetchall()

[(1,
  'Apocalypse Now',
  datetime.date(1979, 5, 10),
  'Film',
  11,
  'OS_SGAD',
  None,
  None),
 (2,
  'Star Wars:Episode IV - A New Hope',
  datetime.date(1977, 5, 25),
  'Film',
  2,
  'OS_SGAD',
  None,
  None),
 (3,
  'Indiana Jones and the Temple of Doom',
  datetime.date(1984, 5, 8),
  'Film',
  1,
  'OS_SGAD',
  None,
  None),
 (4,
  'The Terminal',
  datetime.date(2004, 6, 18),
  'Digital',
  3,
  'OS_SGAD',
  None,
  None),
 (5, 'Jaws', datetime.date(1975, 1, 1), 'Film', 10, 'OS_SGAD', None, None),
 (6,
  'ET The Extraterrestrial',
  datetime.date(1982, 7, 25),
  'Film',
  5,
  'OS_SGAD',
  None,
  None),
 (7, 'Psycho', datetime.date(1960, 5, 6), 'Film', 9, 'OS_SGAD', None, None),
 (8,
  'Ocho Apellidos Vascos',
  datetime.date(2014, 3, 14),
  'Digital',
  3,
  'OS_SGAD',
  None,
  None),
 (9,
  'Ocho Apellidos Catalanes',
  datetime.date(2016, 6, 9),
  'Digital',
  8,
  'OS_SGAD',
  None,
  None),
 (10,
  'El otro lado de la cama',
  datetime.date(2002, 9, 4),
  'Digital',
  8,
  'OS_SGAD',
  None,
  None),
 (11,
  'La Gran Familia Española',
  datetime.date(2012, 10, 15),
  'Digital',
  3,
  'OS_SGAD',
  None,
  None),
 (12,
  'El dia de la bestia',
  datetime.date(1994, 12, 25),
  'Film',
  1,
  'OS_SGAD',
  None,
  None),
 (13,
  'Braveheart',
  datetime.date(1995, 8, 8),
  'Film',
  4,
  'OS_SGAD',
  None,
  None),
 (14,
  'The Shawshank Redemption',
  datetime.date(1992, 1, 7),
  'Film',
  4,
  'OS_SGAD',
  None,
  None),
 (15,
  'Las brujas de Zugarramurdi',
  datetime.date(2009, 10, 7),
  'Digital',
  9,
  'OS_SGAD',
  None,
  None),
 (16,
  'Blade Runner',
  datetime.date(1982, 12, 25),
  'Digital',
  2,
  'OS_SGAD',
  None,
  None)]